
body{
  background-color: black
}

nav{
  width: 100%;
  position: relative;
  background-color: white;
  padding-bottom: 10px;
}

.logo{
  width: 1vw;
  height: 1vw;
  position: absolute;
  left: 50%;
  top: 0;
  content="";
  margin-left: -.5vw;
  text-align: center;
}

.navigation ul{
    margin:0;
    padding: 0;
    list-style: none;
    text-align: right;
    padding-top: 30px
}

.navigation {
    margin: 0 auto;
    width: 90%;

}

.navigation ul li{
    float: none;
    display: inline-block;

}

.navigation ul li:nth-child(-n+2){
    float: left;
    display: inline-block;
}

.navigation ul li a{
    text-decoration: none;
    display: block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Apple Chancery, cursive;
    color: rgb(242, 114, 114);
    border: solid rgb(242, 114, 114) 1px;
}

.navigation ul li a:hover{
    color: red;
}
