/* BODY */

h1{
  font-size: 40px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: lighter;
  color: rgb(242, 114, 114);
  text-align: center;

}

h2{
  font-size: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: lighter;
  color: rgb(242, 114, 114);
  text-align: center;

}

.product_content h3{
  color: rgb(242, 114, 114)
}


h4{
  font-size: 15px;
  font-family: Apple Chancery;
  color: gray;
  line-height: 0;
}

h5{
  font-size: 15px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: lighter;
  color: rgb(242, 114, 114);
  text-align: center;
  margin: 20px;

}
body{
  background-color: rgb(254, 234, 234);
}

.button_all {
  background-color: white; /* Green */
  border: solid rgb(242, 114, 114) 1px;
  color: rgb(242, 114, 114);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 0 auto;
  display: block;

}

.button_all a {
  text-decoration: none;
  font-size: 16px;

}


/* BODY */

/* CARDS */
.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 50px;
}
.card {
    box-shadow: 0px 1px 4px rgb(255, 115, 115);
    background-color: white;

}

.card_thumbnail img{
    max-width: 100%;
    padding: 0;
}
.card_title {
    font-size: 2rem;
    padding: .5rem;
}

.browse-card{
  background-color: white;
  text-align: center;

}

.browse-card h3{
  font-size: 20px;
  font-family: Apple Chancery, cursive;
  color: rgb(242, 114, 114);
  line-height: 0;
}
/* CARD */
/* PRODUCT SHOW */
.dot {
 height: 50px;
 width: 50px;
 background-color: #bbb;
 border-radius: 50%;
 margin-left: 5px;
 display: inline-block;

}

.dot.red{
  background-color: rgb(145,0,67);
  /* border: solid rgb(242, 114, 114) 3px; */

}

.dot.yellow{
  background-color: rgb(197,191,146)
}

.dot.blue{
  background-color: rgb(55,53,103)
}
.dot.focus{
  border: solid rgb(242, 114, 114) 3px;
}
.dot.selected{
  border: solid rgb(242, 114, 114) 3px;
}
.dot.green{
  background-color: rgb(1,67,71);
  margin-right: 5px;
}



input[type=number]{
    width: 50px;
    border:solid rgb(242, 114, 114) 1px;
}

input[type="number"].hotfix::-webkit-outer-spin-button,
input[type="number"].hotfix::-webkit-inner-spin-button {
  height:auto;
}

.material{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;

  display: inline-block;
  margin-bottom: 20px;
}

.material.sel{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;

  display: inline-block;
  margin-bottom: 20px;
  border: solid rgb(242, 114, 114) 3px;
}

.product_content p{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 15px;
  color: gray;
}
/* LOGIN */
.login-box{
  height: 500px;
  width: 1000px;
  top: 50%;
  left: 50%;
  margin-left: 200px;
  background-color: white;
  z-index: 2;
  text-align: center;
}

/* PRODUCT SHOW */

.back{
  position: absolute;
  z-index: 1;
}

.show_box{
  height: 500px;
  width: 600px;
  position:relative;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%);
  z-index: 2;
  text-align: center;
  box-shadow: 0px 1px 4px black;
}

.product_content{
  float: left;
  width: 50%;
  margin: 0 auto;
}

.product_content h2{
  margin-top: 20px;
}

.preview{
  margin-top: 50px;
}

.product-button-wishlist{
  background-color: white; /* Green */
  border: solid rgb(242, 114, 114) 1px;
  color: rgb(242, 114, 114);
  padding: 5px 5px;
  display: inline-block;


  margin: 0 auto;
}

.product-button-wishlist a{
  color: rgb(242, 114, 114);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.product-button-add a{
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a{
  text-decoration:none;
}
a:visited { text-decoration: none;  }
a:hover { text-decoration: none;  }
a:focus { text-decoration: none;  }
a:hover, a:active { text-decoration: none;}

.product-button-add{
  background-color: rgb(242, 114, 114) ;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 0 auto;
}


/* NAVIGATION */


nav{
  width: 100%;
  position: relative;
  background-color: white;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.logo{
  width: 1vw;
  height: 1vw;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -.5vw;
  text-align: center;
}

.navigation ul{
    margin:0;
    padding: 0;
    list-style: none;
    text-align: right;
    padding-top: 30px
}

.navigation {
    margin: 0 auto;
    width: 90%;

}

.navigation ul li{
    float: none;
    display: inline-block;

}

.navigation ul li:nth-child(-n+2){
    float: left;
    display: inline-block;
}

.navigation ul li a{
    text-decoration: none;
    display: block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Apple Chancery, cursive;
    color: rgb(242, 114, 114);
    border: solid rgb(242, 114, 114) 1px;
}

.navigation ul li a:hover{
    color: red;
}
/* NAVIGATION */
/* BROWSE NAV */
#browse-nav{
  position: relative;
  background-color: white;
  padding-bottom: 40px;
  margin-bottom:40px;
  margin-left:auto;
  margin-right:auto;
  width: 90%;
  text-align: center;
  color: rgb(242, 114, 114);
  font-size: 16px;




}

#breadcrumb{

  float: left;
  padding-left: 10px;



}
#page{
  left: 50%;
  top: 0;
  margin-left: -.5vw;
  position:absolute;
  font-size: 16px;


}

#browse-nav-button{
  float:right;
  margin-top: 15px;
  padding-right: 10px;


}

#browse-nav-button button{
  background-color: white; /* White */
  border: solid rgb(242, 114, 114) 1px;
  color: rgb(242, 114, 114);
  text-align: center;
  text-decoration: none;

  margin: 0 auto;
}
/* BROWSE NAV */

/* SOCIAL MEDIA ICONS */
.social-icons {
  text-align: center;
  }
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:70px;
  height:70px;
  margin-right: 20px;


}

[type=submit] {
  background-color: rgb(242, 114, 114) ;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  shadow: none;
  border: none;

  margin: 0 auto;
}

[type=submit]:hover {
  background-color: red ;
