body{
  background-color: black;
  overflow: hidden;
  color:white;
}
h2 {
  text-align: left;
  color: white;
  margin: 10px;
}


.btn-secondary {
  background-color: black;
  color: white;
  border: 2px solid white;
  height: 50px;
  margin: 10px;
}
.btn-secondary:hover{
  color: #24CE88!important ;
  box-shadow:none !important;
  border: 2px solid #24CE88 !important;
  background-color: black;
}
.show > .btn-secondary:focus{
  color: #24CE88!important ;
  box-shadow:none !important;
  border: 2px solid #24CE88 !important;
  background-color: black;
}

.show > .btn-secondary.dropdown-toggle{
  background-color: black;
  color: white;
  border: 2px solid white;
}


.dropdown-menu {
  background-color: black;
  border: 2px solid white
}
.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: #24CE88!important ;
  background-color: black;
}

#name{
  color:white;
}

/* RESPONSIVE TYPOGRAPHY */
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
    .container{
        max-width: 2000px;
    }
}
canvas{
  overflow: hidden;
}
.audio-container {
  display: flex;
  justify-content: center;
  align-items: center
}
.word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
