/*  main elements*/
body{
  background-color: black;
  overflow: hidden;
  color:white;

}
h2 {
  text-align: left;
  color: white;
  margin: 10px;
  font-family: "Roboto";
}
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 140%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .8;
  z-index: 1;
}
html {
  font-size: 1rem;
}
input { width: auto }
@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

label{
  font-size: 50px;
  padding-bottom: 1%;

}

/*  buttons*/

.btn-secondary {
  background-color: black;
  color: white;
  border: 2px solid white;
  height: 50px;
  margin: 10px;
}
.btn-secondary:hover{
  color: #24CE88!important ;
  box-shadow:none !important;
  border: 2px solid #24CE88 !important;
  background-color: black;
}
.show > .btn-secondary:focus{
  color: #24CE88!important ;
  box-shadow:none !important;
  border: 2px solid #24CE88 !important;
  background-color: black;
}

.show > .btn-secondary.dropdown-toggle{
  background-color: black;
  color: white;
  border: 2px solid white;
}

/*dropdown*/

.dropdown-menu {
  background-color: black;
  border: 2px solid white
}
.dropdown-item {
  color: white;
}
.dropdown-item.selected {
  color: #24CE88;
  font-weight: bold;
}
.dropdown-item:hover {
  color: #24CE88!important ;
  background-color: black;
}

#name{
  color:white;
  margin-right: 50px;
}
#start-rapping{
  background-color: Transparent;
}
/* RESPONSIVE TYPOGRAPHY */

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
    .container{
        max-width: 2000px;
    }
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center
}
.word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  font-family: "Roboto";
}


/* slide menu */

#form-step-wrap{
  position: relative;
  overflow-x: hidden;
	width: 100%;
}
#step1box{
  width: 100%;
}



/* Each Step */
.slider-step{
	padding-left:30%;
  padding-right:25%;
	position: absolute;
  width: 100%;
  right: -50%;
  top: 30px;
  opacity: 0;
  -webkit-transition:all, 0.3s linear;
  -moz-transition: all, 0.3s linear;
  -ms-transition: all, 0.3s linear;
  -o-transition: all, 0.3s linear;
  transition: all, 0.3s linear;
}

/* Show the 1st step */
.first-step{
  right: 0;
  opacity: 1;
}

/* Button */
.btn-next,
.btn-back{
	margin-top: 20px;
	display: inline;
  position: absolute;
  width: 50%;
  left: 25%;

}

/* Animations Settings */
[data-anim="show-from--right"]{
  right: 0;
  opacity: 1;
}
[data-anim="show-from--left"]{
  right: 0;
  opacity: 1;
}
[data-anim="hide-to--right"]{
  right: -50%;
  opacity: 0;
}
[data-anim="hide-to--left"]{
  right: 50%;
  opacity: 0;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
    align: center;
    padding-left:30%;
    padding-right:25%;
}


#word{
  font-size: 60px;
  color: #50FF8A;
  font-family: "Roboto";
}

.material-icons{
  margin-top:2%
}

#audio{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}
